@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url(reset.css);

.header {
  width: 1440px;
  height: 254px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  margin-top: 80px;
  padding-right: 286px;
}
.name {
  border-bottom: 1px solid #eaeaea;

  padding-bottom: 16px;
}
.span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 30px;
  padding-left: 40px;
  color: #52647c;
  padding-left: 12px;
}
.image1 {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  padding-top: 28px;
}
.photo {
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  margin-top: 44px;
}
.text {
  margin-top: 24px;

  margin-bottom: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.grater {
  padding-top: 80px;
  padding-bottom: 80px;

  & h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 16px;
  }
  & p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}
.grater p:last-child {
  padding-top: 32px;
  padding-bottom: 80px;
}
.image2 {
  float: left;
}

.know {
  background-color: rgba(236, 241, 248, 1);

  border-radius: 12px;

  width: 1110px;
  height: 347px;

  & h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.3499999940395355px;
    text-align: center;
    padding-top: 96px;
    padding-left: 126px;
    padding-right: 124px;
    padding-bottom: 16px;
  }
  & h6 {
    padding-top: 16px;
    padding-bottom: 94px;
    padding-left: 472px;
    padding-right: 497px;
  }
}
.container {
  width: 1110px;
  height: 387px;
  margin: 0 auto;
}
.watch {
  padding-top: 80.5px;
  padding-bottom: 80.5px;
  padding-right: 24px;
  text-align: left;
  & h6 {
    font-weight: 700;
    line-height: 30px;
  }
  & p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}
.img_watch {
  float: right;
  border-radius: 25px;
}

.video {
  width: 1440px;
  height: 789px;
  & h4 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.3499999940395355px;
    text-align: left;
    padding-bottom: 32px;
    padding-top: 48px;
  }
}
.series {
  border-radius: 20px;
}
